/*M!999999\- enable the sandbox mode */ 
-- MariaDB dump 10.19-12.0.2-MariaDB, for Win64 (AMD64)
--
-- Host: 127.0.0.1    Database: adestiempo
-- ------------------------------------------------------
-- Server version	12.0.2-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*M!100616 SET @OLD_NOTE_VERBOSITY=@@NOTE_VERBOSITY, NOTE_VERBOSITY=0 */;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `group_id` int(11) NOT NULL,
  `permission_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `content_type_id` int(11) NOT NULL,
  `codename` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=81 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `auth_user`
--

DROP TABLE IF EXISTS `auth_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `password` varchar(128) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) NOT NULL,
  `first_name` varchar(150) NOT NULL,
  `last_name` varchar(150) NOT NULL,
  `email` varchar(254) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user`
--

LOCK TABLES `auth_user` WRITE;
/*!40000 ALTER TABLE `auth_user` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `auth_user` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `auth_user_groups`
--

DROP TABLE IF EXISTS `auth_user_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_groups` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `group_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_groups_user_id_group_id_94350c0c_uniq` (`user_id`,`group_id`),
  KEY `auth_user_groups_group_id_97559544_fk_auth_group_id` (`group_id`),
  CONSTRAINT `auth_user_groups_group_id_97559544_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `auth_user_groups_user_id_6a12ed8b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_groups`
--

LOCK TABLES `auth_user_groups` WRITE;
/*!40000 ALTER TABLE `auth_user_groups` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `auth_user_groups` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `auth_user_user_permissions`
--

DROP TABLE IF EXISTS `auth_user_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_user_permissions` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `permission_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_user_permissions_user_id_permission_id_14a6b632_uniq` (`user_id`,`permission_id`),
  KEY `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=57 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_user_permissions`
--

LOCK TABLES `auth_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `auth_user_user_permissions` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `auth_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext DEFAULT NULL,
  `object_repr` varchar(200) NOT NULL,
  `action_flag` smallint(5) unsigned NOT NULL CHECK (`action_flag` >= 0),
  `change_message` longtext NOT NULL,
  `content_type_id` int(11) DEFAULT NULL,
  `user_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_auth_user_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) NOT NULL,
  `model` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `django_content_type` VALUES
(1,'admin','logentry'),
(3,'auth','group'),
(2,'auth','permission'),
(4,'auth','user'),
(5,'contenttypes','contenttype'),
(6,'sessions','session'),
(7,'tasks','artista'),
(8,'tasks','categoriainstrumento'),
(17,'tasks','categoriarefaccion'),
(10,'tasks','disco'),
(16,'tasks','favorito'),
(9,'tasks','genero'),
(11,'tasks','instrumento'),
(14,'tasks','inventario'),
(15,'tasks','inventariomovimiento'),
(20,'tasks','itempedido'),
(18,'tasks','pedido'),
(12,'tasks','perfilusuario'),
(19,'tasks','refaccion'),
(13,'tasks','sucursal');
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `app` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) NOT NULL,
  `session_data` longtext NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `django_session` VALUES
('lz0rhd7lecftmn5uo9adjya1rd2j2d4c','.eJxVjMsOwiAQRf-FtSFAh5dL934DGRiQqoGktCvjv2uTLnR7zzn3xQJuaw3byEuYiZ0ZsNPvFjE9ctsB3bHdOk-9rcsc-a7wgw5-7ZSfl8P9O6g46rd2MgqSERR4a0k4mopVk9IAZGSySRdDPk8CEYV2RAJ99pg1oHVQwLD3B89XN6g:1vHDev:EdS4ZJ30LP-qUJLxoZ6DCwOTUqR2lJHINLIUoz5tAEA','2025-11-08 04:01:09.656062');
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `tasks_artista`
--

DROP TABLE IF EXISTS `tasks_artista`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `tasks_artista` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `biografia` longtext NOT NULL,
  `foto` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tasks_artista`
--

LOCK TABLES `tasks_artista` WRITE;
/*!40000 ALTER TABLE `tasks_artista` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `tasks_artista` VALUES
(1,'Deftones','',''),
(2,'Necrophagist','','');
/*!40000 ALTER TABLE `tasks_artista` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `tasks_categoriainstrumento`
--

DROP TABLE IF EXISTS `tasks_categoriainstrumento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `tasks_categoriainstrumento` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(50) NOT NULL,
  `descripcion` longtext NOT NULL,
  `tipo` varchar(12) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tasks_categoriainstrumento`
--

LOCK TABLES `tasks_categoriainstrumento` WRITE;
/*!40000 ALTER TABLE `tasks_categoriainstrumento` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `tasks_categoriainstrumento` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `tasks_categoriarefaccion`
--

DROP TABLE IF EXISTS `tasks_categoriarefaccion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `tasks_categoriarefaccion` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(50) NOT NULL,
  `descripcion` longtext NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tasks_categoriarefaccion`
--

LOCK TABLES `tasks_categoriarefaccion` WRITE;
/*!40000 ALTER TABLE `tasks_categoriarefaccion` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `tasks_categoriarefaccion` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `tasks_disco`
--

DROP TABLE IF EXISTS `tasks_disco`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `tasks_disco` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `titulo` varchar(200) NOT NULL,
  `a├▒o_lanzamiento` int(11) NOT NULL,
  `formato` varchar(10) NOT NULL,
  `precio` decimal(10,2) NOT NULL,
  `stock` int(10) unsigned NOT NULL CHECK (`stock` >= 0),
  `descripcion` longtext NOT NULL,
  `portada` varchar(100) DEFAULT NULL,
  `fecha_agregado` datetime(6) NOT NULL,
  `activo` tinyint(1) NOT NULL,
  `artista_id` bigint(20) NOT NULL,
  `genero_id` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `tasks_disco_artista_id_d14f5654_fk_tasks_artista_id` (`artista_id`),
  KEY `tasks_disco_genero_id_d3d53d8e_fk_tasks_genero_id` (`genero_id`),
  CONSTRAINT `tasks_disco_artista_id_d14f5654_fk_tasks_artista_id` FOREIGN KEY (`artista_id`) REFERENCES `tasks_artista` (`id`),
  CONSTRAINT `tasks_disco_genero_id_d3d53d8e_fk_tasks_genero_id` FOREIGN KEY (`genero_id`) REFERENCES `tasks_genero` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tasks_disco`
--

LOCK TABLES `tasks_disco` WRITE;
/*!40000 ALTER TABLE `tasks_disco` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `tasks_disco` VALUES
(2,'Around the Fur',2016,'cd',120000.00,0,'Version CD','discos/Deftones/Around-the-Fur_Deftones.jpg','2025-11-07 01:54:32.535212',1,1,15),
(3,'Epitaph',2017,'vinilo',300000.00,0,'','discos/Necrophagist/Epitaph_Necrophagist.jpg','2025-11-07 03:33:52.070879',1,2,15);
/*!40000 ALTER TABLE `tasks_disco` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `tasks_favorito`
--

DROP TABLE IF EXISTS `tasks_favorito`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `tasks_favorito` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `fecha_agregado` datetime(6) NOT NULL,
  `disco_id` bigint(20) DEFAULT NULL,
  `instrumento_id` bigint(20) DEFAULT NULL,
  `usuario_id` int(11) NOT NULL,
  `refaccion_id` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `tasks_favorito_usuario_id_instrumento_id_9797fea6_uniq` (`usuario_id`,`instrumento_id`),
  UNIQUE KEY `tasks_favorito_usuario_id_disco_id_235e7aa8_uniq` (`usuario_id`,`disco_id`),
  UNIQUE KEY `tasks_favorito_usuario_id_refaccion_id_b21c3566_uniq` (`usuario_id`,`refaccion_id`),
  KEY `tasks_favorito_disco_id_9ff2bf21_fk_tasks_disco_id` (`disco_id`),
  KEY `tasks_favorito_instrumento_id_3854073d_fk_tasks_instrumento_id` (`instrumento_id`),
  KEY `tasks_favorito_refaccion_id_45b3df6f_fk_tasks_refaccion_id` (`refaccion_id`),
  CONSTRAINT `tasks_favorito_disco_id_9ff2bf21_fk_tasks_disco_id` FOREIGN KEY (`disco_id`) REFERENCES `tasks_disco` (`id`),
  CONSTRAINT `tasks_favorito_instrumento_id_3854073d_fk_tasks_instrumento_id` FOREIGN KEY (`instrumento_id`) REFERENCES `tasks_instrumento` (`id`),
  CONSTRAINT `tasks_favorito_refaccion_id_45b3df6f_fk_tasks_refaccion_id` FOREIGN KEY (`refaccion_id`) REFERENCES `tasks_refaccion` (`id`),
  CONSTRAINT `tasks_favorito_usuario_id_19a3b8e4_fk_auth_user_id` FOREIGN KEY (`usuario_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tasks_favorito`
--

LOCK TABLES `tasks_favorito` WRITE;
/*!40000 ALTER TABLE `tasks_favorito` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `tasks_favorito` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `tasks_genero`
--

DROP TABLE IF EXISTS `tasks_genero`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `tasks_genero` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(50) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tasks_genero`
--

LOCK TABLES `tasks_genero` WRITE;
/*!40000 ALTER TABLE `tasks_genero` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `tasks_genero` VALUES
(21,'Alternative'),
(12,'Bachata'),
(4,'Blues'),
(27,'Bossa Nova'),
(5,'Cl├ísica'),
(6,'Country'),
(11,'Cumbia'),
(20,'Disco'),
(14,'Electronic'),
(17,'Folk'),
(19,'Funk'),
(25,'Gospel'),
(22,'Indie'),
(3,'Jazz'),
(23,'Latin'),
(13,'Merengue'),
(15,'Metal'),
(26,'├ôpera'),
(2,'Pop'),
(16,'Punk'),
(8,'R&B'),
(7,'Rap/Hip-Hop'),
(9,'Reggae'),
(29,'Reggaeton'),
(1,'Rock'),
(10,'Salsa'),
(28,'Ska'),
(18,'Soul'),
(30,'Trap'),
(24,'World Music');
/*!40000 ALTER TABLE `tasks_genero` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `tasks_instrumento`
--

DROP TABLE IF EXISTS `tasks_instrumento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `tasks_instrumento` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(200) NOT NULL,
  `marca` varchar(100) NOT NULL,
  `modelo` varchar(100) NOT NULL,
  `precio` decimal(10,2) NOT NULL,
  `estado` varchar(10) NOT NULL,
  `stock` int(10) unsigned NOT NULL CHECK (`stock` >= 0),
  `descripcion` longtext NOT NULL,
  `imagen_principal` varchar(100) DEFAULT NULL,
  `fecha_agregado` datetime(6) NOT NULL,
  `activo` tinyint(1) NOT NULL,
  `categoria_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `tasks_instrumento_categoria_id_5f4ba841_fk_tasks_cat` (`categoria_id`),
  CONSTRAINT `tasks_instrumento_categoria_id_5f4ba841_fk_tasks_cat` FOREIGN KEY (`categoria_id`) REFERENCES `tasks_categoriainstrumento` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tasks_instrumento`
--

LOCK TABLES `tasks_instrumento` WRITE;
/*!40000 ALTER TABLE `tasks_instrumento` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `tasks_instrumento` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `tasks_inventario`
--

DROP TABLE IF EXISTS `tasks_inventario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `tasks_inventario` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `stock_disponible` int(10) unsigned NOT NULL CHECK (`stock_disponible` >= 0),
  `stock_reservado` int(10) unsigned NOT NULL CHECK (`stock_reservado` >= 0),
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `producto_disco_id` bigint(20) DEFAULT NULL,
  `producto_instrumento_id` bigint(20) DEFAULT NULL,
  `sucursal_id` bigint(20) NOT NULL,
  `formato_disco` varchar(10) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `tasks_inventario_producto_instrumento_id__c75e7f77_uniq` (`producto_instrumento_id`,`sucursal_id`),
  UNIQUE KEY `tasks_inventario_producto_disco_id_format_b3f9ee4e_uniq` (`producto_disco_id`,`formato_disco`,`sucursal_id`),
  KEY `tasks_inventario_sucursal_id_08601b3f_fk_tasks_sucursal_id` (`sucursal_id`),
  KEY `tasks_inventario_producto_disco_id_ccf55a98` (`producto_disco_id`),
  KEY `tasks_inventario_producto_instrumento_id_7401939b` (`producto_instrumento_id`),
  CONSTRAINT `tasks_inventario_producto_disco_id_ccf55a98_fk_tasks_disco_id` FOREIGN KEY (`producto_disco_id`) REFERENCES `tasks_disco` (`id`),
  CONSTRAINT `tasks_inventario_producto_instrumento_7401939b_fk_tasks_ins` FOREIGN KEY (`producto_instrumento_id`) REFERENCES `tasks_instrumento` (`id`),
  CONSTRAINT `tasks_inventario_sucursal_id_08601b3f_fk_tasks_sucursal_id` FOREIGN KEY (`sucursal_id`) REFERENCES `tasks_sucursal` (`id`),
  CONSTRAINT `inventario_un_solo_producto` CHECK (`producto_disco_id` is not null and `producto_instrumento_id` is null or `producto_disco_id` is null and `producto_instrumento_id` is not null),
  CONSTRAINT `formato_solo_para_discos` CHECK (`formato_disco` is not null and `producto_disco_id` is not null or `producto_disco_id` is null)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tasks_inventario`
--

LOCK TABLES `tasks_inventario` WRITE;
/*!40000 ALTER TABLE `tasks_inventario` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `tasks_inventario` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `tasks_inventariomovimiento`
--

DROP TABLE IF EXISTS `tasks_inventariomovimiento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `tasks_inventariomovimiento` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `tipo` varchar(20) NOT NULL,
  `cantidad` int(11) NOT NULL,
  `motivo` longtext NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `producto_disco_id` bigint(20) DEFAULT NULL,
  `producto_instrumento_id` bigint(20) DEFAULT NULL,
  `sucursal_id` bigint(20) NOT NULL,
  `usuario_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `tasks_inventariomovi_producto_disco_id_2f05fd61_fk_tasks_dis` (`producto_disco_id`),
  KEY `tasks_inventariomovi_producto_instrumento_ec528388_fk_tasks_ins` (`producto_instrumento_id`),
  KEY `tasks_inventariomovi_sucursal_id_b0ad61e7_fk_tasks_suc` (`sucursal_id`),
  KEY `tasks_inventariomovimiento_usuario_id_063e0250_fk_auth_user_id` (`usuario_id`),
  CONSTRAINT `tasks_inventariomovi_producto_disco_id_2f05fd61_fk_tasks_dis` FOREIGN KEY (`producto_disco_id`) REFERENCES `tasks_disco` (`id`),
  CONSTRAINT `tasks_inventariomovi_producto_instrumento_ec528388_fk_tasks_ins` FOREIGN KEY (`producto_instrumento_id`) REFERENCES `tasks_instrumento` (`id`),
  CONSTRAINT `tasks_inventariomovi_sucursal_id_b0ad61e7_fk_tasks_suc` FOREIGN KEY (`sucursal_id`) REFERENCES `tasks_sucursal` (`id`),
  CONSTRAINT `tasks_inventariomovimiento_usuario_id_063e0250_fk_auth_user_id` FOREIGN KEY (`usuario_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `movimiento_un_solo_producto` CHECK (`producto_disco_id` is not null and `producto_instrumento_id` is null or `producto_disco_id` is null and `producto_instrumento_id` is not null)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tasks_inventariomovimiento`
--

LOCK TABLES `tasks_inventariomovimiento` WRITE;
/*!40000 ALTER TABLE `tasks_inventariomovimiento` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `tasks_inventariomovimiento` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `tasks_itempedido`
--

DROP TABLE IF EXISTS `tasks_itempedido`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `tasks_itempedido` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `cantidad` int(10) unsigned NOT NULL CHECK (`cantidad` >= 0),
  `precio_unitario` decimal(10,2) NOT NULL,
  `subtotal` decimal(10,2) NOT NULL,
  `disco_id` bigint(20) DEFAULT NULL,
  `instrumento_id` bigint(20) DEFAULT NULL,
  `pedido_id` bigint(20) NOT NULL,
  `refaccion_id` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `tasks_itempedido_disco_id_1b0c6921_fk_tasks_disco_id` (`disco_id`),
  KEY `tasks_itempedido_instrumento_id_2ec19ae0_fk_tasks_instrumento_id` (`instrumento_id`),
  KEY `tasks_itempedido_pedido_id_42544055_fk_tasks_pedido_id` (`pedido_id`),
  KEY `tasks_itempedido_refaccion_id_a556c678_fk_tasks_refaccion_id` (`refaccion_id`),
  CONSTRAINT `tasks_itempedido_disco_id_1b0c6921_fk_tasks_disco_id` FOREIGN KEY (`disco_id`) REFERENCES `tasks_disco` (`id`),
  CONSTRAINT `tasks_itempedido_instrumento_id_2ec19ae0_fk_tasks_instrumento_id` FOREIGN KEY (`instrumento_id`) REFERENCES `tasks_instrumento` (`id`),
  CONSTRAINT `tasks_itempedido_pedido_id_42544055_fk_tasks_pedido_id` FOREIGN KEY (`pedido_id`) REFERENCES `tasks_pedido` (`id`),
  CONSTRAINT `tasks_itempedido_refaccion_id_a556c678_fk_tasks_refaccion_id` FOREIGN KEY (`refaccion_id`) REFERENCES `tasks_refaccion` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tasks_itempedido`
--

LOCK TABLES `tasks_itempedido` WRITE;
/*!40000 ALTER TABLE `tasks_itempedido` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `tasks_itempedido` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `tasks_pedido`
--

DROP TABLE IF EXISTS `tasks_pedido`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `tasks_pedido` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `numero_pedido` varchar(20) NOT NULL,
  `fecha_pedido` datetime(6) NOT NULL,
  `fecha_actualizacion` datetime(6) NOT NULL,
  `estado` varchar(20) NOT NULL,
  `subtotal` decimal(10,2) NOT NULL,
  `impuestos` decimal(10,2) NOT NULL,
  `total` decimal(10,2) NOT NULL,
  `nombre_completo` varchar(200) NOT NULL,
  `direccion` longtext NOT NULL,
  `ciudad` varchar(100) NOT NULL,
  `codigo_postal` varchar(20) NOT NULL,
  `telefono` varchar(20) NOT NULL,
  `email` varchar(254) NOT NULL,
  `metodo_pago` varchar(50) NOT NULL,
  `pagado` tinyint(1) NOT NULL,
  `fecha_pago` datetime(6) DEFAULT NULL,
  `factura_enviada` tinyint(1) NOT NULL,
  `fecha_factura_enviada` datetime(6) DEFAULT NULL,
  `cliente_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `numero_pedido` (`numero_pedido`),
  KEY `tasks_pedido_cliente_id_75eea69b_fk_auth_user_id` (`cliente_id`),
  CONSTRAINT `tasks_pedido_cliente_id_75eea69b_fk_auth_user_id` FOREIGN KEY (`cliente_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tasks_pedido`
--

LOCK TABLES `tasks_pedido` WRITE;
/*!40000 ALTER TABLE `tasks_pedido` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `tasks_pedido` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `tasks_perfilusuario`
--

DROP TABLE IF EXISTS `tasks_perfilusuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `tasks_perfilusuario` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `tipo_usuario` varchar(10) NOT NULL,
  `telefono` varchar(15) NOT NULL,
  `direccion` longtext NOT NULL,
  `fecha_registro` datetime(6) NOT NULL,
  `user_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  CONSTRAINT `tasks_perfilusuario_user_id_7943f922_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tasks_perfilusuario`
--

LOCK TABLES `tasks_perfilusuario` WRITE;
/*!40000 ALTER TABLE `tasks_perfilusuario` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `tasks_perfilusuario` VALUES
(1,'cliente','','','2025-11-03 20:34:20.535700',1),
(2,'vendedor','','','2025-11-03 21:07:41.104933',2),
(3,'cliente','','','2025-11-04 01:29:44.873160',3),
(4,'vendedor','','','2025-11-04 01:29:46.187284',4);
/*!40000 ALTER TABLE `tasks_perfilusuario` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `tasks_refaccion`
--

DROP TABLE IF EXISTS `tasks_refaccion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `tasks_refaccion` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(200) NOT NULL,
  `marca` varchar(100) NOT NULL,
  `modelo_compatible` varchar(200) NOT NULL,
  `precio` decimal(10,2) NOT NULL,
  `stock` int(10) unsigned NOT NULL CHECK (`stock` >= 0),
  `descripcion` longtext NOT NULL,
  `imagen_principal` varchar(100) DEFAULT NULL,
  `fecha_agregado` datetime(6) NOT NULL,
  `activo` tinyint(1) NOT NULL,
  `categoria_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `tasks_refaccion_categoria_id_7a2dc6a9_fk_tasks_cat` (`categoria_id`),
  CONSTRAINT `tasks_refaccion_categoria_id_7a2dc6a9_fk_tasks_cat` FOREIGN KEY (`categoria_id`) REFERENCES `tasks_categoriarefaccion` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tasks_refaccion`
--

LOCK TABLES `tasks_refaccion` WRITE;
/*!40000 ALTER TABLE `tasks_refaccion` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `tasks_refaccion` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `tasks_sucursal`
--

DROP TABLE IF EXISTS `tasks_sucursal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `tasks_sucursal` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `ciudad` varchar(100) NOT NULL,
  `direccion` longtext NOT NULL,
  `activa` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tasks_sucursal`
--

LOCK TABLES `tasks_sucursal` WRITE;
/*!40000 ALTER TABLE `tasks_sucursal` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `tasks_sucursal` VALUES
(1,'Principal','Ciudad Principal','Direcci├│n Principal',1,'2025-11-03 18:28:27.935837','2025-11-03 18:28:27.935865');
/*!40000 ALTER TABLE `tasks_sucursal` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Dumping routines for database 'adestiempo'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*M!100616 SET NOTE_VERBOSITY=@OLD_NOTE_VERBOSITY */;

-- Dump completed on 2025-11-06 23:30:31
